<header class="grid page_title_container">
  <div class="unit section_title_container">
    <%= page_title_tag { 'Edit Post' } %>
  </div>
</header>

<div class="grid">
  <div class="unit">
    <%= render 'form', post: @post %>
  </div>
</div>
